extends layout

block content
    h1= title

    div(class="icon")
        a(href='/goods')
            img(src='/images/notes_icon@2x.png')
        div(class="icon_text") 商品类目
    //img(src='/images/icon@2x.png')
