//
   Created by Chang on 2017/5/16.

doctype html
html(lang="zh-cn" style="display: block;")
    head
        title= title
        link(rel='stylesheet', href='stylesheets/perf.css')
        //style(type='text/css') h1 {color:blue;}
        //link(rel='stylesheet', href='/stylesheets/stylesheet@2x-packed.css')
        //link(rel='stylesheet', href='/stylesheets/springboard/stylesheet@2x.css')
    //body(class="sc-theme sc-focus box-shadow border-rad edge windows zh-cn" style="overflow: auto;")
    body()
        block content
            h1= title
