//
   Created by Chang on 2017/5/16.

doctype html
html(lang="zh-cn" style="display: block;")
    head
        title= title
        link(rel='stylesheet', href='stylesheets/main.css')
    body()
        block content
