html {
    padding-top: 79px;
}

body, html {
    min-height: 100%;
}

body, html {
    margin:0;
    list-style:none;
    padding:0;
}

body {
    background-color: #fff;
    color: #555;
    font:400 14px Arial, Helvetica, sans-serif;
}

header,nav,section,article,aside,footer {
    display:block;
}

#page-header {
    background-color: #2a2d33;
    color:#fff;



    position: fixed;
    top: 0px;
    width: 100%;
    font-size:12px;
    z-index: 100;
}

#logo-bar {
    float: left;
    margin-top: 1.61em;
    margin-bottom:1.71em;
    margin-left:1.83em;
    min-height:38px;
}

.logo {
    width: 262px;
    font-size: 24px;
}

a img {
    border-width: 0;
}

.toggle-nav {
    width:24px;
    height:24px;
    background: transparent;
    display:none;
    position:relative;
    margin-left:1.83em;
    cursor:pointer;
}

#page-inner-content {
    background-color: red;
    position:relative;
    margin:0;
}

div {
    margin:0;
}

#page-nav {
    /*background-color: red;*/

    position: fixed;
    top:79px;
    bottom:0px;
    left:0px;
    width:18%;
    overflow:auto;

    border-right:#e8ebef 1px solid;
    z-index:2;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
}

#page-article {

    position: fixed;
    top:79px;
    bottom:0px;
    left:18%;
    width:82%;
    overflow:auto;

    /*background-color: blue;*/
    border-right:#e8ebef 1px solid;
    z-index:2;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;

    line-height:1.5;
    padding:4px 0 0;
    -moz-box-sizing:border-box;;
    padding-left:2em;
    padding-right:2em;

    max-width:100em;
}

#list-view {
    position: relative;
    left: 0;
}